@using TigerTix.Web.Models
@model List<Event>

@{
    ViewData["Title"] = "HomePage";
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h2>Events</h2>
    <form method="get" action="@Url.Action("ViewCart", "Home")">
        <input type="submit" value="View Cart" />
    </form>
    <ul>
        @foreach (var ev in Model)
        {
            <li>
                <strong>@ev.Name</strong> - @ev.Date.ToShortDateString() - $@ev.Price
                <a href="@Url.Action("EventDetails", "Home", new { eventName = ev.Name })">More Info</a>
                <form method="post" action="@Url.Action("AddToCart", "Home", new { eventId = ev.Id })">
                    <input type="submit" value="Buy Ticket" />
                </form>
            </li>
        }
    </ul>
</body>
</html>